.box {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.box:hover {
    cursor: pointer;
}

#box1 {
    background-color: red;
    transition-property: width;
    transition-duration: 2s;
}

#box1:hover {
    width: 300px;
}

#box2 {
    background-color: blue;
    transition-property: height;
    transition-duration: 2s;
}

#box2:hover {
    height: 300px;
}

#box3 {
    background-color: green;
    transition: height 2s; width 2s;
}

#box3:hover {
    height: 300px;
    width: 300px;
}

