.zmienne {
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  border: 20px solid blue; }
  .zmienne ul {
    background-color: yellow; }
    .zmienne ul li {
      font-weight: 800; }
      .zmienne ul li a {
        background-color: green;
        color: #aa99ff; }
        .zmienne ul li a:hover {
          color: hotpink; }

.jakas-sekcja {
  background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px; }
