.header {
    background-color: #edcf96;
    height: 100px;
    width: 500px;
}

p{
    text-align: center;
}

.middle {
    height: 500px;
    width: 500px;
}

.footer {
    width: 500px;
    height: 70px;
    background-color: #edcf96;
}

section > div {
    background-color: orchid;
    height: 50px;
    display: inline-block;
}

.width1 {
    width: 54%;
}

.width2 {
    width: 44%;
}