* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
}

.main {
    height: 100vh;
    background-image: url(../obrazy/man-1.jpg);
    background-position: center;
    background-size: cover;
}

p {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 20px;
    margin: 10px;
}

div.text p:last-child {
    font-size: 40px;
    font-weight: 800; 
}

.text {
    padding: 40vh 10px;
}

/* responsywność */

@media (min-width:992px) and (max-width:1170px) {
    .main {
        height: 70vh;
        background-image: url(../obrazy/man-2.jpg);
    }

    p {
        transform: scale(0.7);
    }

    .text {
        margin: 0;
        padding: 10vh 0 0 43vw;
    }
}

@media (max-width:991px) {
    .main {
        height: 50vh;
        text-align: center;
    }
    
    .text {
        padding: 55vh 10px;
    }
    
    p {
        color: black;
        transform: scale(0.75);
        font-weight: 800;
    }
}