* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-size: 14px;
}

/* stylowanie header */

.main {
    height: 65vh;
    text-align: center;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main h1 {
    color: #007bff;
    text-transform: uppercase;
    font-size: 3.2em;
}

hr {
    background-color: #007bff;
    border: 0;
    height: 1px;
    width: 60px;
    margin-top: -25px
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #007bff;
    display: inline-block;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-size: 0.8em;
}

.button:hover {
    background-color: #007bff;
    color: white;
}

.main p {
    color: #333;
    font-weight: 500;
}

.main span {
    color: #007bff;
}

/* stylowanie menu */

nav ul {
    background-color: #007bff;
    height: 45px;
    text-align: center;
    padding: 11px;
    margin: 0;
}

nav ul li {
    text-decoration: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}

/* stylowanie sekcji, kontenera i h3 */

section {
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: 2em auto 2em auto;
}

h3 {
    color: #333;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px;
}

/* stylowanie sekcji about-me */

#about-me img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin: 30px auto 20px auto;
}

#about-me p {
    line-height: 1.7;
    max-width: 700px;
    margin: 20px auto 20px auto;
}

/* stylowanie sekcji portfolio */

.portfolio {
    background-color: #f2f1ed;
}

.wrapper {
    margin-top: 40px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}

a.wrapper-item {
    flex-basis: 25%
}

.wrapper-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* stylowanie sekcji kontakt */

form > div {
    max-width: 700px;
    margin: 40px auto 0px auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

input[type="text"], input[type="email"] {
    padding: 10px;
    margin: 5px;
    flex-basis: 40%;
}

textarea {
    flex-basis: 81.5%;
    padding: 10px;
    margin: 10px;
    height: 70px;
}

div i {
    color: #007bff;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}

