* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

.main {
    height: 65vh;
    text-align: center;
    background-image: url(../img/header.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

hr {
    background-color: #007bff;
    border: 0;
    height: 1px;
    width: 70px;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #007bff;
    display: inline-block;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    padding: 10px;
}

.button:hover {
    background-color: #007bff;
    color: white;
}


.main h1 {
    color: #007bff;
    text-transform: uppercase;
}

.main p {
    color: #333;
}